---
# see https://github.com/FGasper/perl-github-action-tips
# and https://github.com/actions/virtual-environments
# Note - String::Util requires 5.14 or above

name: Test Code on Ubuntu
on:
  push:
    branches:
      - '*'
    tags-ignore:
      - '*'
  pull_request:
jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-22.04
          - ubuntu-20.04
        perl-version: ['5.36', '5.34', '5.32', '5.30', '5.28', '5.22', '5.20', '5.18', '5.16', '5.14']
    name: Perl ${{ matrix.perl-version }} on ${{ matrix.os }}

    container:
      image: perldocker/perl-tester:${{ matrix.perl-version }}

    steps:
      - uses: actions/checkout@main
        with:
          submodules: recursive
      - uses: codecov/codecov-action@v4
      - run: perl -V
      - name: Install Dependencies
        run: |
          cpanm -iqn --skip-satisfied ExtUtils::MakeMaker
          cpanm -iqn --skip-satisfied Test::Pod::Spelling::CommonMistakes Test::Portability::Files Test::Carp Test::Pod::Coverage Test::Most
          cpanm -iqn --skip-satisfied --installdeps --notest .
#     - name: Run Tests
#       run: |
#        cover -test
#        cover -report codecov
#        curl -Os https://uploader.codecov.io/latest/linux/codecov
#        chmod +x codecov
#        ./codecov -t ${{ secrets.CODECOV_TOKEN }}
#       shell: bash
#       env:
#         CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
      - name: Run Tests
        run: prove -l -b t
        env:
          AUTHOR_TESTING: 1
